<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxiao.mapper.LearningExperienceMapper">

    <!-- 插入学习心得 -->
    <insert id="insertLearningExperience" parameterType="com.yunxiao.entity.LearningExperience">
        INSERT INTO LearningExperiences (studentId, description, createTime)
        VALUES (#{studentId}, #{description}, #{createTime})
    </insert>

    <!-- 根据ID查询学习心得 -->
    <select id="selectLearningExperienceById" parameterType="Long" resultType="com.yunxiao.entity.LearningExperience">
        SELECT * FROM LearningExperiences WHERE experienceId = #{id}
    </select>

    <!-- 更新学习心得 -->
    <update id="updateLearningExperience" parameterType="com.yunxiao.entity.LearningExperience">
        UPDATE LearningExperiences SET studentId = #{studentId}, description = #{description}, createTime = #{createTime}
        WHERE experienceId = #{experienceId}
    </update>

    <!-- 根据ID删除学习心得 -->
    <delete id="deleteLearningExperience" parameterType="Long">
        DELETE FROM LearningExperiences WHERE experienceId = #{id}
    </delete>

</mapper>
