<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxiao.mapper.StudyArrangementMapper">

    <!-- 插入研学安排 -->
    <insert id="insertStudyArrangement" parameterType="com.yunxiao.entity.StudyArrangement">
        INSERT INTO StudyArrangements (studentId, studyTime)
        VALUES (#{studentId}, #{studyTime})
    </insert>

    <!-- 根据ID查询研学安排 -->
    <select id="selectStudyArrangementById" parameterType="Long" resultType="com.yunxiao.entity.StudyArrangement">
        SELECT * FROM StudyArrangements WHERE arrangementId = #{id}
    </select>

    <!-- 更新研学安排 -->
    <update id="updateStudyArrangement" parameterType="com.yunxiao.entity.StudyArrangement">
        UPDATE StudyArrangements SET studentId = #{studentId}, studyTime = #{studyTime}
        WHERE arrangementId = #{arrangementId}
    </update>

    <!-- 根据ID删除研学安排 -->
    <delete id="deleteStudyArrangement" parameterType="Long">
        DELETE FROM StudyArrangements WHERE arrangementId = #{id}
    </delete>

</mapper>
