<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxiao.frame.mapper.AdminMapper">

    <!-- 名称加id传入新管理员 -->
    <insert id="insertAdmin">
        INSERT INTO Admins (adminName, adminPassword)
        VALUES (#{adminName}, #{adminPassword})
    </insert>

    <!--用id来更新密码-->
    <update id="updateAdminPassword">
        UPDATE Admins SET adminPassword = #{adminPassword}
        WHERE adminId = #{adminId}
    </update>

    <!-- 用id删除管理员 -->
    <delete id="deleteAdmin">
        DELETE FROM Admins WHERE adminId = #{adminId}
    </delete>

    <!-- id和密码返回管理员对象 -->
    <select id="selectAdmin" resultType="Admin">
        SELECT * FROM Admins WHERE adminId = #{adminId} and adminPassword = #{adminPassword}
    </select>

    <!-- 列出所有管理员 -->
    <select id="selectAllAdmins" resultType="Admin">
        SELECT * FROM Admins
    </select>


</mapper>