<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxiao.frame.mapper.StudentMapper">

    <!--名称和密码创建-->
    <insert id="insertStudent" parameterType="Student">
        INSERT INTO Students (studentPassword, studentName)
        VALUES (#{studentPassword}, #{studentName})
    </insert>

    <!-- 登录学生账号或查询 -->
    <select id="selectStudentById" parameterType="Long" resultType="Student">
        SELECT * FROM Students WHERE studentId = #{id} and studentPassword = #{studentPassword}
    </select>

    <!-- 更新学生信息 -->
    <update id="updateStudent" parameterType="Student">

        update students
        <set>
            <if test="studentPassword !=null and studentPassword!=''">
                studentPassword=#{studentPassword},
            </if>
            <if test="studentName !=null and studentName!='' ">
                studentName=#{studentName},
            </if>
            <if test="gender!=null and gender!=''">
                gender=#{gender},
            </if>
            <if test="collegeClass !=null and collegeClass!='' ">
                collegeClass=#{collegeClass},
            </if>
            <if test="period !=null">
                period=#{period},
            </if>
            <if test="direction !=null and direction!='' ">
                direction=#{direction},
            </if>
            <if test="awardExperience !=null and awardExperience!='' ">
                awardExperience=#{awardExperience}
            </if>
        </set>
        where student_id=#{student_id};
    </update>

    <!-- 根据ID删除学生信息 -->
    <delete id="deleteStudent" parameterType="Long">
        DELETE FROM Students WHERE studentId = #{id}
    </delete>

</mapper>