<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxiao.frame.mapper.StudyTaskMapper">

    <!-- 插入研学任务 -->
    <insert id="insertStudyTask" parameterType="StudyTask">
        INSERT INTO StudyTasks (description, startTime, endTime, responsibleId, status)
        VALUES (#{description}, #{startTime}, #{endTime}, #{responsibleId}, #{status})
    </insert>

    <!-- 根据ID查询研学任务 -->
    <select id="selectStudyTaskById" parameterType="Long" resultType="StudyTask">
        SELECT * FROM StudyTasks WHERE taskId = #{id}
    </select>

    <!-- 更新研学任务 -->
    <update id="updateStudyTask" parameterType="StudyTask">
        UPDATE StudyTasks SET description = #{description}, startTime = #{startTime}, endTime = #{endTime}, responsibleId = #{responsibleId}, status = #{status}
        WHERE taskId = #{taskId}
    </update>

    <!-- 根据ID删除研学任务 -->
    <delete id="deleteStudyTask" parameterType="Long">
        DELETE FROM StudyTasks WHERE taskId = #{id}
    </delete>

</mapper>
