<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunxiao.frame.mapper.AnnouncementMapper">

    <!-- 插入公告信息 -->
    <insert id="insertAnnouncement" parameterType="Announcement">
        INSERT INTO Announcements (title, content, publisherId)
        VALUES (#{title}, #{content}, #{publisherId})
    </insert>

    <!-- 根据ID查询公告 -->
    <select id="selectAnnouncementById" parameterType="Long" resultType="Announcement">
        SELECT * FROM Announcements WHERE announcementId = #{id}
    </select>

    <!-- 更新公告信息 -->
    <update id="updateAnnouncement" parameterType="Announcement">
        UPDATE Announcements SET title = #{title}, content = #{content}, publisherId = #{publisherId}
        WHERE announcementId = #{announcementId}
    </update>

    <!-- 根据ID删除公告 -->
    <delete id="deleteAnnouncement" parameterType="Long">
        DELETE FROM Announcements WHERE announcementId = #{id}
    </delete>

</mapper>
